<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.solarProject.mapper.PjEnergySavingMapper">

    <resultMap type="PjEnergySaving" id="PjEnergySavingResult">
        <result property="pjNo"    column="pj_no"    />
        <result property="coalSavingAverage"    column="coal_saving_average"    />
        <result property="carbonSavingAverage"    column="carbon_saving_average"    />
        <result property="sulfurSavingAverage"    column="sulfur_saving_average"    />
        <result property="nitricSavingAverage"    column="nitric_saving_average"    />
        <result property="smokeSavingAverage"    column="smoke_saving_average"    />
        <result property="isDelete"    column="is_delete"    />
        <result property="createTime"    column="create_time"    />
        <result property="createId"    column="create_id"    />
        <result property="updTime"    column="upd_time"    />
        <result property="updId"    column="upd_id"    />
    </resultMap>

    <sql id="selectPjEnergySavingVo">
        select pj_no, coal_saving_average, carbon_saving_average, sulfur_saving_average, nitric_saving_average, smoke_saving_average, is_delete, create_time, create_id, upd_time, upd_id from pj_energy_saving
    </sql>

    <select id="selectPjEnergySavingList" parameterType="PjEnergySaving" resultMap="PjEnergySavingResult">
        <include refid="selectPjEnergySavingVo"/>
        <where>
            <if test="coalSavingAverage != null "> and coal_saving_average = #{coalSavingAverage}</if>
            <if test="carbonSavingAverage != null "> and carbon_saving_average = #{carbonSavingAverage}</if>
            <if test="sulfurSavingAverage != null "> and sulfur_saving_average = #{sulfurSavingAverage}</if>
            <if test="nitricSavingAverage != null "> and nitric_saving_average = #{nitricSavingAverage}</if>
            <if test="smokeSavingAverage != null "> and smoke_saving_average = #{smokeSavingAverage}</if>
            <if test="isDelete != null  and isDelete != ''"> and is_delete = #{isDelete}</if>
            <if test="createId != null  and createId != ''"> and create_id = #{createId}</if>
            <if test="updTime != null "> and upd_time = #{updTime}</if>
            <if test="updId != null  and updId != ''"> and upd_id = #{updId}</if>
        </where>
    </select>

    <select id="selectPjEnergySavingByPjNo" parameterType="String" resultMap="PjEnergySavingResult">
        <include refid="selectPjEnergySavingVo"/>
        where pj_no = #{pjNo} and is_delete='0'
    </select>

    <insert id="insertPjEnergySaving" parameterType="PjEnergySaving">
        insert into pj_energy_saving
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pjNo != null">pj_no,</if>
            <if test="coalSavingAverage != null">coal_saving_average,</if>
            <if test="carbonSavingAverage != null">carbon_saving_average,</if>
            <if test="sulfurSavingAverage != null">sulfur_saving_average,</if>
            <if test="nitricSavingAverage != null">nitric_saving_average,</if>
            <if test="smokeSavingAverage != null">smoke_saving_average,</if>
            <if test="isDelete != null">is_delete,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createId != null">create_id,</if>
            <if test="updTime != null">upd_time,</if>
            <if test="updId != null">upd_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pjNo != null">#{pjNo},</if>
            <if test="coalSavingAverage != null">#{coalSavingAverage},</if>
            <if test="carbonSavingAverage != null">#{carbonSavingAverage},</if>
            <if test="sulfurSavingAverage != null">#{sulfurSavingAverage},</if>
            <if test="nitricSavingAverage != null">#{nitricSavingAverage},</if>
            <if test="smokeSavingAverage != null">#{smokeSavingAverage},</if>
            <if test="isDelete != null">#{isDelete},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createId != null">#{createId},</if>
            <if test="updTime != null">#{updTime},</if>
            <if test="updId != null">#{updId},</if>
         </trim>
    </insert>

    <update id="updatePjEnergySaving" parameterType="PjEnergySaving">
        update pj_energy_saving
        <trim prefix="SET" suffixOverrides=",">
            <if test="coalSavingAverage != null">coal_saving_average = #{coalSavingAverage},</if>
            <if test="carbonSavingAverage != null">carbon_saving_average = #{carbonSavingAverage},</if>
            <if test="sulfurSavingAverage != null">sulfur_saving_average = #{sulfurSavingAverage},</if>
            <if test="nitricSavingAverage != null">nitric_saving_average = #{nitricSavingAverage},</if>
            <if test="smokeSavingAverage != null">smoke_saving_average = #{smokeSavingAverage},</if>
            <if test="isDelete != null">is_delete = #{isDelete},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createId != null">create_id = #{createId},</if>
            <if test="updTime != null">upd_time = #{updTime},</if>
            <if test="updId != null">upd_id = #{updId},</if>
        </trim>
        where pj_no = #{pjNo}
    </update>

    <delete id="deletePjEnergySavingByPjNo" parameterType="String">
        delete from pj_energy_saving where pj_no = #{pjNo}
    </delete>

    <delete id="deletePjEnergySavingByPjNos" parameterType="String">
        delete from pj_energy_saving where pj_no in
        <foreach item="pjNo" collection="array" open="(" separator="," close=")">
            #{pjNo}
        </foreach>
    </delete>

    <update id="insetOrUpdateEnergySaving">
        insert INTO pj_energy_saving
        (  pj_no, coal_saving_average, carbon_saving_average, sulfur_saving_average, nitric_saving_average,
         smoke_saving_average, is_delete, create_time, create_id, upd_time, upd_id
        )
        VALUES
            (#{pjNo},#{coalSavingAverage},#{carbonSavingAverage},#{sulfurSavingAverage},#{nitricSavingAverage},
             #{smokeSavingAverage},#{isDelete},#{createTime},#{createId},#{updTime},#{updId})
            ON DUPLICATE KEY UPDATE
            coal_saving_average = VALUES(coal_saving_average), carbon_saving_average= VALUES(carbon_saving_average),
            sulfur_saving_average= VALUES(sulfur_saving_average),
            nitric_saving_average= VALUES(nitric_saving_average),smoke_saving_average= VALUES(smoke_saving_average),
            upd_time= VALUES(upd_time), upd_id= VALUES(upd_id)
    </update>
</mapper>
